
    <!--FEEDING PAGE COMPONENT-->
    <div class="content">
      <div class="table">
       <h1>Feeding and Watering</h1>
       <div class="table-wrapper">
       <table id="customers">
         <tr>
           <th>ID</th>
           <th>STATUS</th>
           <th>TIME</th>
         </tr>
         <tr>
           <td>Alfreds Futterkiste</td>
           <td>Maria Anders</td>
           <td>Germany</td>
         </tr>
         <tr>
           <td>Berglunds snabbköp</td>
           <td>Christina Berglund</td>
           <td>Sweden</td>
         </tr>
         <tr>
           <td>Centro comercial Moctezuma</td>
           <td>Francisco Chang</td>
           <td>Mexico</td>
         </tr>
         <tr>
           <td>Ernst Handel</td>
           <td>Roland Mendel</td>
           <td>Austria</td>
         </tr>
         <tr>
           <td>Island Trading</td>
           <td>Helen Bennett</td>
           <td>UK</td>
         </tr>
         <tr>
           <td>Königlich Essen</td>
           <td>Philip Cramer</td>
           <td>Germany</td>
         </tr>
         <tr>
           <td>Laughing Bacchus Winecellars</td>
           <td>Yoshi Tannamuri</td>
           <td>Canada</td>
         </tr>
         <tr>
           <td>Magazzini Alimentari Riuniti</td>
           <td>Giovanni Rovelli</td>
           <td>Italy</td>
         </tr>
         <tr>
           <td>North/South</td>
           <td>Simon Crowther</td>
           <td>UK</td>
         </tr>
         <tr>
           <td>Paris spécialités</td>
           <td>Marie Bertrand</td>
           <td>France</td>
         </tr>
         <tr>
           <td>Königlich Essen</td>
           <td>Philip Cramer</td>
           <td>Germany</td>
         </tr>
         <tr>
           <td>Laughing Bacchus Winecellars</td>
           <td>Yoshi Tannamuri</td>
           <td>Canada</td>
         </tr>
         <tr>
           <td>Magazzini Alimentari Riuniti</td>
           <td>Giovanni Rovelli</td>
           <td>Italy</td>
         </tr>
         <tr>
           <td>North/South</td>
           <td>Simon Crowther</td>
           <td>UK</td>
         </tr>
         <tr>
           <td>Paris spécialités</td>
           <td>Marie Bertrand</td>
           <td>France</td>
         </tr>
         
       </table>
     </div>
  </div>
  
     <!--CONTAINER FOR INPUT OF FEEDING AND WATERING TIME-->
      <div class="process">
       <h1>Input Schedule</h1>
       <label>Time: </label><br>
       <input placeholder="  Enter the time of the process" type="text"><br>
       <button>Save</button>
       <button>Clear</button>
       <hr>
      </div>
   </div>
    
  


