
<!--ROOT COMPONENT SIDEMENU-->
<ion-app>
    <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Feccarro</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item (click)="feeding()" color="shade">
          <ion-label><ion-icon name="cafe-outline"></ion-icon> Feeding and Watering</ion-label>
        </ion-item>
        <ion-item (click)="temperature()" color="shade">
          <ion-label><ion-icon name="thermometer-outline"></ion-icon> Temperature and Humidity</ion-label>
        </ion-item>
        <ion-item color="shade" (click)="report()" >
          <ion-label><ion-icon name="document-outline"></ion-icon> Reports</ion-label>
        </ion-item>
        <ion-item color="shade" >
          <ion-label class="logout"><a href="/login"><ion-icon name="log-out-outline"></ion-icon> Logout</a></ion-label>
        </ion-item>
      </ion-list>
  
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header class={{hello}}>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
          <ion-row>
            <ion-title >Fecarro's Poultry</ion-title>
            <div class="time">
              {{dateTime | date: 'hh : mm : ss a'}}
            </div>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
  
  <!--ROUTER OUTLET FOR ROOT-->
    <ion-content> 
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>

 
</ion-app>
  
  